[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
pavotebymail = {path = ".",editable = true}

[packages]
firebase-admin = "*"
names = "*"
pyyaml = "*"
sqlalchemy = "*"
psycopg2 = "*"
arrow = "*"
click = "*"

[requires]
python_version = "3.7"
