@font-face {
  font-family: "AmericanLemonSans";

  src: url("./fonts/AmericanLemonSans.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/AmericanLemonSans.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura-Bold";

  src: url("./fonts/Futura-Bold-03.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/Futura-Bold-03.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura-Medium";

  src: url("./fonts/Futura-Medium-01.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/Futura-Medium-01.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px !important;
  background-color: #ffefd9;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  color: #004581;
  font-family: "Futura-Medium";
  font-size: 1.5vw;
  text-align: center;
  margin: 2vw auto;
  text-decoration: underline;
}

#header,
#footer {
  background-color: #004581;
  width: 100%;
}

#footer {
  font-family: "Futura-Medium";
  color: #ffefd9;
  font-size: 1.25vw;
  line-height: 2vw;
}

#footer a {
  color: #ffefd9;
}

h1 {
  font-family: "AmericanLemonSans";
  font-size: 6vw;
  color: #ffefd9;
  margin: 0;
  line-height: 6vw;
}

#content {
  margin: 0.5vw auto;
  padding: 0vw 15vw;
}

.info {
  font-family: "Futura-Medium";
  font-size: 2vw;
  color: #5c5a56;
  margin: 0.75vw 0px;
}

.bold {
  font-family: "Futura-Bold";
  color: #ba5f5f !important;
}

.num_ball {
  background-color: #993333;
  padding: 2vw;
  width: 100%;
  margin: 2vw 0px 0px;
  height: 10vw;
}

.num_ball p {
  font-family: "Futura-Medium";
  color: #ffefd9;
  font-size: 2vw;
  line-height: 3vw;
  display: inline-block;
  width: 60%;
  text-align: left;
  text-decoration: none;
}

.num_ball h2 {
  font-family: "Futura-Bold";
  font-size: 6vw;
  color: #ffefd9;
  line-height: 1vw;
  margin-right: 3vw;
  display: inline-block;
}

.button {
  height: 5vw;
  line-height: 5vw;
  border-radius: 8px;
  background-color: #004581;
  color: #ffefd9;
  font-size: 2.5vw;
  font-family: "AmericanLemonSans";
  text-align: center;
  display: inline-block;
  padding: 0 1vw;
}

.text_align_center {
  text-align: center;
}

#video {
  margin: 2vw;
}

.content_width {
  width: 60%;
}

.flex_row {
  display: flex;
  flex-flow: row;
}

.flex_col {
  display: flex;
  flex-flow: column;
}

.flex_justify_center {
  justify-content: center;
}

.flex_justify_between {
  justify-content: space-between;
}

.flex_justify_evenly {
  justify-content: space-evenly;
}
